@import '_variables.scss';

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.primary {
    color: $primary;
}

.light {
    color: $light;
}

.dark {
    color: $dark;
}

.section {
    height: 100vh;
    width: 100vw;

    background: $primary;
    background: linear-gradient(to bottom right, $primary 50%, $dark 50%);

    &:nth-child(odd) {
        background: linear-gradient(to top left, $primary 50%, $dark 50%);
    }
}

header {

    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 150px auto 150px;

    @media screen and (max-width: 767px) {
        background: linear-gradient(to right, $primary 50%, $dark 50%);
    }

    .logo {
        width: 100%;
        grid-column: 1/2;
        padding: 15px;
        
    }



label {
    display: none;
    position: fixed;
    z-index: 9;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 23px;

    input {
        display: none;

        &:checked {
            ~ .hamburger {
                span {
                    margin: 0;
                    transition: all 0.2s linear;

                    &:first-child {
                        transform-origin: 75% 0%;
                        transform: rotate(315deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform-origin: 75% 100%;
                        transform: rotate(-315deg);
                    }
                }
            }
        }

    }

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.hamburger {
    span {
        display: block;
        width: 100%;
        height: 5px;
        margin-bottom: 4px;
        border-radius: 3px;

        background: $primary;
        transition: all 0.2s linear;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.title-container {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        grid-column: 1/4;
    }

    .title {
        font-size: 60px;
        font-weight: 900;

        @media screen and (max-width: 1024px) {
            font-size: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

    .subtitle {
        font-size: 15px;
        font-weight: 300;

        &.dark {
            align-self: flex-start;
        }
        &.primary {
            align-self: flex-end;
        }
    }
}

.navbar {
    grid-column: 1/4;
    grid-row: 3/4;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: 767px) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 100vw;
        flex-direction: column;
        transition: all 0.2s linear;

        background: linear-gradient(to right, $primary 50%, $dark 50%);

        &.active {
            left: 0vw; 
        }

    }

    .navbar__link {
        margin: 0px 15px 30px;
        color: $light;
        font-weight: 300;
        text-decoration: none;

        &:hover {
            color: $primary;
            border-bottom: 2px solid $primary;

        }

    }
}
}

