@import '_variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.primary {
    color: $primary;
}

.light {
    color: $light;
}

.dark {
    color: $dark;
}

.header {
    height: 100vh;
    width: 100vw;

    background: $primary;
    background: linear-gradient(to bottom right, $primary 50%, $dark 50%);
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 150px auto 150px;
}

.logo {
    width: 100%;
    grid-column: 1/2;
    
}

.title-container {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 60px;
        font-weight: 900;
    }
}

.navbar {
    grid-column: 1/4;
    grid-row: 3/4;
}